{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!--to login form-->
   <div class="content-section">
       <form method="POST">
           {% csrf_token %}
           <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
               {{ form|crispy }}
           </fieldset>
           <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
<!--to add the reset passord button-->
               <small class="text-muted ml-2">
                   <a href="{% url 'password_reset' %}">Forgot Password?</a>
               </small>
<!--to add the reset passord button end-->
           </div>
<!--to create an account-->
       </form>
<!--to login form ends-->
       <div class="border-top pt-3">
           <small class="text-muted">
               Want To Create An Account ? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
           </small>
       </div>
<!--class of text muted is to make the text not be in a box or too shouty-->
<!--to create an account end-->
   </div>
{% endblock content %}

